* {
  box-sizing: border-box;
}

:root {
  --accent: #34A249;
  --dark-accent: #2b7b3b;
  --dark: #313131;
}

body {
  position: relative;
  height: 100vh;
  font-family: sans-serif;
  background-color: var(--accent);
  margin: 0;
}

#solitaire-container, .toolbar, .footer, footer {
  max-width: 660px;
  margin: 0 auto;
}

.toolbar-wrapper {
  padding: 10px 0;
  background-color: var(--dark);
  margin-bottom: 40px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #aaa;
}

.logo img {
  width: 50px;
  height: 50px;
}

.timer-p, .score-span, .moves-span {
  color: #fff;
}

.close-btn {
  background-color: transparent;
  font-size: 1.5rem;
  color: #fff;
  border: 0;
  cursor: pointer;
}

.close-btn:hover {
  color: #aaa;
}

.card {
  transform: scale(1.2);
}

.stock-waste-foundation, .stock-waste, .foundation, .tableau {
  width: 100%;
  display: grid;
  gap: 20px;
}

.stock-waste-foundation {
  grid-template-columns: 3fr 4fr;
  margin: 20px 0;
  height: 105px;
}

.stock-pile {
  background-image: url('../images/recall-stockpile.svg');
  background-size: cover;
  background-color: var(--dark-accent);
  border-radius: 4px;
  cursor: pointer;
}

.stock-waste {
  grid-template-columns: repeat(3, 1fr);
}

.foundation {
  grid-template-columns: repeat(4, 1fr);
}

.foundation .pile {
  background-color: var(--dark-accent);
  border-radius: 4px;
}

.pile-hearts {
  background-image: url(../images/bg-heart.svg);
  background-position: center;
}

.pile-diamonds {
  background-image: url(../images/bg-diamond.svg);
  background-position: center;
}

.pile-clubs {
  background-image: url(../images/bg-club.svg);
  background-position: center;
}

.pile-spades {
  background-image: url(../images/bg-spade.svg);
  background-position: center;
}

.tableau {
  grid-template-columns: repeat(7, 1fr);
  margin: 20px 0;
}

.card-placeholder {
  background-color: var(--dark-accent);
  width: 76px;
  height: 105px;
  border-radius: 4px;
}

.pile {
  position: relative;
}

.footer-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: var(--dark-accent);
}

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer a {
  color: #fff;
  font-size: 1.8rem;
  text-decoration: none;
}

#footer a span {
  font-size: 2.3rem;
}

#footer a:hover {
  color: var(--dark);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* Styles for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  overflow: auto;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}